/*TABLE */

table{
    border: 3px solid #333;
    border-collapse: collapse;
}

td, th{
    border: 1px solid #333;
    text-align: center;
    padding: 0.5em;
}


.invisible{
    border: none;
    display: block;
}